html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

/* Navbar Frame */

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(68, 50, 151);
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar_frame .navber_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navber_top > a img {
  margin-right: 76px;
  height: 36px;
}

.navbar_frame .navber_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.navbar_frame .nav_search_frame .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 166px;
  height: 30px;
  border-right: 1px solid rgb(214, 214, 214);
}
.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;
}
.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;

  background: rgb(245, 195, 75);
}

.navbar_frame .search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .navber_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  margin-right: 16px;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}
.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}
.navbar_frame .box_info_box span {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.navbar_frame .box_info_box strong {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.navbar_frame .navber_bott {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}
.navbar_frame .navber_bott .categories {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar_frame .navber_bott .home {
  width: 362px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar_frame .navber_bott .other {
  width: 462px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar_frame .navber_bott .categories a {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .navber_bott .home a {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .navber_bott .other a {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .categories .menyu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

/* FOOTER FRAME */

.footer_frame {
  position: relative;
  padding: 90px 0 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(243, 245, 246);
}
.footer_spec_title {
  margin-bottom: 30px;
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .container {
  flex-direction: column;
}
.container .footer_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_contact_box {
  /* width: 285px;
  height: 194px; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 64px;
}

.footer_contact_main {
  width: 274.31px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_contact_main img {
  width: 35.63px;
  height: 30px;
}

.footer_contact_main div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_contact_main div strong {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_contact_main div span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.bottom_box {
  width: 285px;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom_boxs {
  width: 165.62px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .tarmoq_box {
  width: 177.79px;
  height: 246.1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tarmoq_box .top {
  width: 154.91px;
  height: 61.57px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.top div {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tarmoq_box .bottom {
  width: 163.91px;
  height: 116px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.bottom .page {
  width: 163.91px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.page div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}
.page div span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.page img {
  width: 20.74px;
  height: 12.26px;
}

.footer_top .payment_box {
  width: 272.02px;
  height: 69.53px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_top .pay_boxs {
  width: 100%;
  height: 246.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer_bottom {
  margin-top: 90px;
  height: 61px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(234, 234, 234);
}

.container .footer_bottom .sk {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.container .footer_bottom .sk div {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer_bottom .sk span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_bottom .select {
  width: 395px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.select .sx {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  background: rgb(255, 255, 255);
}

.select .sx strong {
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.select .sx select {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;

  border: none;
}
